<section class="hero site has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
                <h3 class="is-size-1 is-uppercase has-text-weight-semibold has-text-centered has-text-black is-marginless">
                    About Me
                </h3>
                <hr>
                <div> 
                    <p> &nbsp;</p>
                </div>
                <div> 
                    <p> &nbsp;</p>
                </div>
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img class="is-rounded" src="https://drive.google.com/file/d/1SiIrtlwlDc0Hd_324uBDiyui7YmoLQRk/view?usp=sharing" alt="Ying-Ju Lai">
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <h3 class="is-size-3 is-uppercase has-text-weight-semibold has-text-black is-marginless">
                        Ying-Ju Lai
                    </h3>
                    <p class="is-size-4">I have given all my effort and passion to contribute to statistics and biostatistics for more than <br>six years. I have strong theoretical basis in statistics, foundational concept of epidemiology and  adequate data analysis experience. I wish to contribute to workable solutions for current medical issues such as developing effective disease prognosis and novel genetic intervention for therapy. Moreover, I hope provide truly personalized precision healthcare and make a positive impact on the broader field of biostatistics.</p>
                    <br>
                 </div>
                </div>
            </div>
        </div>
</section>
