<section class="hero has-text-centered" id="collaboration">
    <div class="hero-body">
        <div class="container">
             <h3 class="is-size-1 is-uppercase has-text-weight-semibold has-text-centered has-text-black is-marginless">
                    Collaboration
             </h3>
             <hr style="background-color:white">
               <div> 
                    <p> &nbsp;</p>
               </div>
               <div> 
                    <p> &nbsp;</p>
               </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd">
                        <h4 class="is-size-4 is-marginless">
                            Establishing a Polygenic Risk Prediction Model Underlying Disease Susceptibility of the Common Epilepsies: Taiwan-specific Genome-wide Analyses (12/2021 - Present)
                        </h4>
                        <p class="is-size-6">
                            National Taiwan University, Institute of Epidemiology and Preventive Medicine
                        </p>
                        <div> 
                        <p> &nbsp;</p>
                        </div>  
                        <h4 class="is-size-4 is-marginless">
                            Hyperreflective Foci as an Important Prognostic Indicator for Progression of Retinitis Pigmentosa (11/2020 – 04/2021)
                        </h4>
                        <p class="is-size-6">
                            National Taiwan University Hospital; Cathay General Hospital 
                        </p>
                        <div> 
                        <p> &nbsp;</p>
                        </div>  
                        <h4 class="is-size-4 is-marginless">
                            Analyzed Age-related Macular Degeneration data in UK Biobank (09/2020 – 05/2021)
                        </h4>
                        <p class="is-size-6">
                            National Taiwan University, Institute of Epidemiology and Preventive Medicine
                        </p>
                        <div> 
                        <p> &nbsp;</p>
                        </div>  
                        <h4 class="is-size-4 is-marginless">
                            Double-blind and Randomized Controlled Trial on project “Clarity of the Visual Field in Arthroscopic Shoulder Surgery with Intravenous Administration of Tranexamic Acid.” (09/2019 – 04/2020)
                        </h4>
                        <p class="is-size-6">
                            National Cheng Kung University Hospital, Department of Orthopaedics
                        </p>    
                        <div> 
                        <p> &nbsp;</p>
                        </div>
                        <h4 class="is-size-4 is-marginless">
                            Kidney Stone History and Adverse Outcomes After Percutaneous Coronary Intervention (09/2019 – 04/2020)
                        </h4>
                        <p class="is-size-6">
                            National Cheng Kung University Hospital; Vanderbilt University Medical Center
                        </p>    
                        <div> 
                        <p> &nbsp;</p>
                        </div>
                        <h4 class="is-size-4 is-marginless">
                            Analyzed Effect of Eepilepsy Drugs by Transcranial Magnetic Stimulation and Electroencephalography (03/2019 – 05/2019)
                        </h4>
                        <p class="is-size-6">
                            National Cheng Kung University Hospital, Department of Neurology 
                        </p>
                        <div> 
                        <p> &nbsp;</p>
                        </div>   
                        <h4 class="is-size-4 is-marginless">
                            Oral Submucous Fibrosis Predict Poor Survival after Surgical Treatment of Oral Squamous Cell Carcinoma (02/2019 - 09/2019)
                        </h4>
                        <p class="is-size-6">
                            National Cheng Kung University Hospital, Department of Stomatology
                        </p>
                        <div> 
                        <p> &nbsp;</p>
                        </div>   
                        <h4 class="is-size-4 is-marginless">
                            Novel Predictive Biomarkers for Cervical Cancer Prognosis (01/2019 – 12/2019)
                        </h4>
                        <p class="is-size-6">
                            Kaohsiung Veterans General Hospital; National Academy of Taiwan 
                        </p>
                        <div> 
                        <p> &nbsp;</p>
                        </div>
                    
                </div>
        </div>
    </div>
</section>
