<section class="hero has-text-centered" id="collaboration">
    <div class="hero-body">
        <div class="container">
             <h3 class="is-size-1 is-uppercase has-text-weight-semibold has-text-centered has-text-black is-marginless">
                    Collaboration
             </h3>
             <hr>
               <div> 
                    <p> &nbsp;</p>
               </div>
               <div> 
                    <p> &nbsp;</p>
               </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd">
                        <h4 class="is-size-4 is-marginless">
                            Hyperreflective Foci as an Important Prognostic Indicator for Progression of Retinitis Pigmentosa (11/2020 – 04/2021)
                        </h4>
                        <p class="is-size-5">
                            National Taiwan University Hospital; Cathay General Hospital 
                        </p>
                        <div> 
                        <p> &nbsp;</p>
                        </div>  
                        <h4 class="is-size-4 is-marginless">
                            Kidney Stone History and Adverse Outcomes After Percutaneous Coronary Intervention (09/2019 – 04/2020)
                        </h4>
                        <h5 class="is-size-4 is-marginless">
                            College of Medicine, National Cheng Kung University; Vanderbilt University Medical Center
                        </h5>    
                        <div> 
                        <p> &nbsp;</p>
                        </div>
                        <h4 class="is-size-4 is-marginless">
                            Novel Predictive Biomarkers for Cervical Cancer Prognosis (01/2019 – 12/2019)
                        </h4>
                        <p>
                            Kaohsiung Veterans General Hospital; National Academy of Taiwan 
                        </p>
                        <div> 
                        <p> &nbsp;</p>
                        </div>                                      
                </div>
            {% unless site.twitter_username == %}
            <a id="contact-button" href="https://scholar.google.com/citations?hl=zh-TW&authuser=2&user=Uh9dYD8AAAAJ"
                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold column is-one-quarter"
                target="_blank">
            Google Scholar
            </a>
            {% endunless %}
        </div>
    </div>
</section>
