<section class="hero is-fullheight has-text-centered" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <div class="title">
                        <p> ABC
                    </div>
                    <ul>
                        <li>Master of Science</li>
                    </ul>
                    <p>Data Science</p>
                    <ul>
                        <li>Master of Statistics</li>
                    </ul>
                    <p>Data Science</p>
                    <br>
                    </div>
                </div>
            </div>
        </div>
</section>
