<section class="hero has-text-centered is-pageheight" id="Education">
    <div class="hero-body">
        <div class="container">
                <h3 class="is-size-1 is-uppercase has-text-weight-semibold has-text-centered has-text-black is-marginless">
                    Education
                </h3>
                <hr style="border: 2px solid">
                </p>
            <div class="columns">
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd">
                    <div class="title is-uppercase">
                       Master of Science in Biostatistics and Data Science 
                    </div>
                    <div class="subtitle is-uppercase is-marginless">
                        National Taiwan University, Taiwan (2019 – 2021) 
                    </div>
                    <p> </p>
                    <div class="title" is-uppercase>
                         Bachelor of Science in Statistics 
                    </div>
                    <div class="subtitle is-uppercase is-marginless">
                        National Cheng Kung University, Taiwan (2015 – 2019) 
                    </div>
                    <br>
                    </div>
                </div>
            </div>
        </div>
</section>

