<section class="hero has-text-centered" id="Education">
    <div class="hero-body">
        <div class="container">
             <h3 class="is-size-1 is-uppercase has-text-weight-semibold has-text-centered has-text-black is-marginless">
                    Education
             </h3>
             <hr>
               <div> 
                    <p> &nbsp;</p>
               </div>
               <div> 
                    <p> &nbsp;</p>
               </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd">
                        <h4 class="is-size-4 is-uppercase has-text-weight-semibold is-marginless">
                            Master of Science in Biostatistics and Data Science 
                        </h4>
                        <h4 class="is-size-４ is-uppercase is-marginless">
                            National Taiwan University, Taiwan (2019 – 2021) 
                        </h4>
                </div>
                <div> 
                    <p> &nbsp;</p>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd">
                        <h4 class="is-size-4 is-uppercase has-text-weight-semibold is-marginless">
                            Bachelor of Science in Statistics 
                        </h4>
                        <h4 class="is-size-４ is-uppercase is-marginless">
                            National Cheng Kung University, Taiwan (2015 – 2019)
                        </h4>       
                </div>
        </div>
    </div>
</section>

