<footer id="footer">
    <!--Footer Button-->
    <div class="container has-text-centered has-background-grey-darker" id="backtotop">
        <a class="has-text-white" onclick="window.scroll(0,0)">BACK TO TOP</a>
    </div>
    
    <div class="has-background-black has-text-centered has-text-white" id="credits">
       {{ "now" | date: "%Y" }} | 
            <hr>
            <h3 class="is-size-5 is-uppercase has-text-weight-semibold has-text-black is-marginless">
                You Can find me here
            </h3>
            <div class="column is-full is-size-2 is-marginless">
                {% unless site.email == %}
                <a href="mailto:yjrubylai@gmail.com" target="_blank" class="has-text-white"><i class="fa fa-envelope" style="color:white"></i></a>
                {% endunless %}
                {% unless site.linkedin_username ==  %}
                <a href="http://www.linkedin.com/in/ying-ju-lai-4531091a0/" target="_blank" class="has-text-black"><i class="fab fa-linkedin" style="color:white></i></a>
                {% endunless %}
                {% unless site.github_username ==  %}
                <a href="http://www.github.com/YJRubyLai" target="_blank" class="has-text-black"><i class="fab fa-github" style="color:white></i></a>
                {% endunless %}
            </div>
    </div>
</footer>
