<footer id="footer">
    <!--Footer Button-->
    <div class="container has-text-centered has-background-grey-darker" id="backtotop">
        <a class="button is-rounded is-outlined has-text-white is-family-sans-serif" onclick="window.scroll(0,0)">BACK TO TOP</a>

    </div>
    
    <div class="has-background-black has-text-centered has-text-white" id="credits">
            <h3 class="is-size-5 is-uppercase has-text-weight-semibold has-text-white is-marginless">
                You Can find me here
            </h3>
               <div> 
                  <p> &nbsp;</p>
               </div>
            <div class="column is-full is-size-2 is-marginless has-text-weight">
                {% unless site.email == %}
                <a href="mailto:yjrubylai@gmail.com" target="_blank" class="has-text-white"><i class="fa fa-envelope" style="color:white"></i></a> &nbsp;
                {% endunless %}
                {% unless site.linkedin_username ==  %}
                <a href="http://www.linkedin.com/in/ying-ju-lai-4531091a0/" target="_blank" class="has-text-white"><i class="fab fa-linkedin" style="color:white"></i></a>  &nbsp;
                {% endunless %}
                {% unless site.github_username ==  %}
                <a href="http://www.github.com/YJRubyLai" target="_blank" class="has-text-white"><i class="fab fa-github" style="color:white"></i></a>
                {% endunless %}
            </div>
        {{ "now" | date: "%Y %m" }} 
    </div>
</footer>
