<section class="hero has-text-centered has-background-white-ter" id="Publication">
    <div class="hero-body">
        <div class="container">
             <h3 class="is-size-1 is-uppercase has-text-weight-semibold has-text-centered has-text-black is-marginless">
                    Publication
             </h3>
             <hr>
               <div> 
                    <p> &nbsp;</p>
               </div>
               <div> 
                    <p> &nbsp;</p>
               </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd">
                        <h4 class="is-size-4 is-marginless">
                            <strong>Lai, Y. J.</strong>, Hsiao, C. K. (2021). Review of the book <em>Data Science and Machine Learning: Mathematical and Statistical Methods</em>, by Kroese, D. P., Botev, Z. I., Taimre, T., & Vaisman, R. <em>Biometrics</em>. 
                        </h4>
                        <div> 
                        <p> &nbsp;</p>
                        </div>  
                        <h4 class="is-size-4 is-marginless">
                            Ho, C. H., Huang, Y. J., <strong>Lai, Y. J.</strong>, Mukherjee, R., & Hsiao, C. K. (2021). The misuse of distributional assumptions in functional class scoring gene-set and pathway analysis. <em>G3 Genes| Genomes| Genetics</em>.
                        </h4>
                        <div> 
                        <p> &nbsp;</p>
                        </div>
                        <h4 class="is-size-4 is-marginless">
                            Huang, C. H., Yang, C. H., <strong>Lai, Y. J.</strong>, Hsiao, C. K., Hou, Y. C., Yang, C. M., & Chen, T. C. (2021). Hyperreflective foci as important prognostic indicators of progression of retinitis pigmentosa, <em>Retina</em>.
                        </h4>
                        <div> 
                        <p> &nbsp;</p>
                        </div>
                        <h4 class="is-size-4 is-marginless">
                            Lai, C. H., Huang, L. C., Holby, S. N., <strong>Lai, Y. J.</strong>, Su, P. F., Cheng, Y. S., Shyr, Y, Hsi, R. S. (2020). Kidney stone history and adverse outcomes after percutaneous coronary intervention. <em>Urology, 136, 75-81</em>.
                        </h4>
                        <div> 
                        <p> &nbsp;</p>
                        </div>
                </div>
            {% unless site.twitter_username == %}
            <a id="contact-button" href="https://scholar.google.com/citations?hl=zh-TW&authuser=2&user=Uh9dYD8AAAAJ"
                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold column"
                target="_blank">
            Google Scholar
            </a>
            {% endunless %}
        </div>
    </div>
</section>
